

/* styles.css */

/* Default light theme */
:root {
    --background-color: white;
    --text-color: black;
}

[data-theme="dark"] {
    --background-color: black;
    --text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#theme-toggle {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 16px;
}
